html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(124, 124, 218);
    background-color: black;
}

body {
    background-color: black;
    width: auto;
    height: auto;
    color: rgb(124, 124, 218);
}

h1 {
    text-align: center;
}

h2 {
    display: inline-flex;
    justify-content: space-around;
    
}

#completedUpcoming h2 {
    display: inline-flex;
    justify-content: center;
}

#portfolioProjects {
    display: block;
    width: 100%;
    display: contents;
    align-items: center;
    align-content: center;
    align-self: center;
}

footer {
    background-color: black;
    width: auto;
    height: 50px;
    display: block;
}

.copyWrite {
    display: block;
    align-content: center;
    justify-content: center;
    color: rgb(124, 124, 218);
    text-align: center;
    
}