body {
    background-color: black;
    width: auto;
    height: auto;
}

footer {
    background-color: black;
    width: auto;
    height: 50px;
    display: block;
}

p {
    color: blue;
    text-align: center;
    
}